[submodule "homework-01/googletest"]
	path = homework-01/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
